<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard {{ user.empresa }} | Gokside </title>
    <meta content="Website created by Joao Afonso Katombela, AROTEC" name="description">
    <meta content="" name="keywords">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <!-- Favicons 
    <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    -->
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Arsha
  * Updated: Jul 05 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
    .btn {
        background: #208ed8;
        color: white;
    }

    .btn:hover {
        background: #0e70b2;
    }
</style>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="dashboard">G o k s i d e</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="/" class="logo me-auto"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto">{{user.nome}}</a></li>
                    <li><a class="nav-link scrollto">{{user.plano }}</a></li>
                    <li><a class="getstarted scrollto" href="./logout">Sair</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">


                <h2>Benvindo {{user.nome}}. </h2>
                <h6 class="fs-6 ">Empresa: <b>{{ user.empresa }}</b> </h6>
                <span class="fs-6 "> Ativo: <span class="text-success">{{user.plano}}</span></span>
                <br>
                <span class="fs-6 text-secondary">
                    <!-- <?php if ($pago == "Nao") {
                   echo "Faça o pagamento do seu plano! &middot; $ ".$preco."";
                } else { echo "Plano Pago" ;} ?> -->

                </span>
                <br>

                <div class="datas">
                    <h4 class="text-secondary">E-mail: <span class="fw-light">{{user.email}}</span></h4>
                    <!-- <a href="/user/inbox" class="btn-learn-more"><i class="bi bi-envelope"></i> Ver Caixa de entrada <i class="bi bi-arrow-right"></i></a> -->

                </div>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="items-serv container">
            <div class="row">
                <div class="col-12 container">
                    <p class="d-flex justify-content-between flex-row-wrap flex-wrap">
                        <span>
                            Suporte: <a href="tel:+244928134249">928 134 249</a> / <a
                                href="mailto:contato@gokside.site">contato@gokside.site</a>
                        </span>

                        <button type="button" class="btn cta-btn" data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@mdo">Enviar Email</button>

                    </p>
                    <hr>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="emailForm">
                                        <label for="assunto">Assunto:</label>
                                        <input type="text" id="assunto" name="assunto" required><br>
                            
                                        <label for="destinatario">Destinatário:</label>
                                        <input type="text" id="destinatario" name="destinatario" required><br>
                            
                                        <label for="mensagem">Mensagem:</label>
                                        <textarea id="mensagem" name="mensagem" required></textarea><br>
                            
                                        <button type="button" id="sendButton">Enviar</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <h1>Caixa de Entrada</h1>
                    {% if emails %}
                    {% for email in emails %}
                    <div>
                        <p><strong>Remetente:</strong> {{ email.sender }}</p>
                        <!-- <p><strong>Destinatário:</strong> {{ email.recipient }}</p> -->
                        <p><strong>Assunto:</strong> {{ email.subject }}</p>
                        <p><strong>Mensagem:</strong> {{ email.body[:200] }}{% if email.body|length > 200 %}...{% endif
                            %}</p>

                        <!-- Botão Ver -->
                        <button class="btn btn-primary" data-toggle="modal"
                            data-target="#emailModal{{ loop.index }}">Ler E-mail</button>

                        <hr>
                    </div>

                    <!-- Modal de Ver Tudo -->
                    <div style="font-size: 13px; " class="modal bd-example-modal-lg fade"
                        id="emailModal{{ loop.index }}" tabindex="-1" role="dialog"
                        aria-labelledby="emailModalLabel{{ loop.index }}" aria-hidden="true">
                        <div style="font-size: 13px;" class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="font-size: 13px; ">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="emailModalLabel{{ loop.index }}">E-mail Completo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style=" overflow-x: auto; font-size: 13px;">
                                    <p><strong>Remetente:</strong> {{ email.sender }}</p>
                                    <p><strong>Destinatário:</strong> {{ email.recipient }}</p>
                                    <p><strong>Assunto:</strong> {{ email.subject }}</p>
                                    <p class="w-100"><strong>Mensagem:</strong> {{ email.body }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Nenhum e-mail encontrado.</p>
                    {% endif %}


                </div>
            </div>
        </section>
    </main><!-- End #main -->

    <div id="preloader"></div>
    <a href="/#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <!-- Link do paypal 
  <div id="paypal-button-container-P-23794522DV3935435MS55BBQ"></div>
   -->
    <script
        src="https://www.paypal.com/sdk/js?client-id=Achki2KvbRpWCbc-y41bd-5RHsf0SLC6NDJMrPktXH0Q-QcrUP4Te7nZLw9UC3JwAozTRD1zyleZQV5J&vault=true&intent=subscription"
        data-sdk-integration-source="button-factory"></script>
    <script>
        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'blue',
                layout: 'vertical',
                label: 'subscribe'
            },
            createSubscription: function (data, actions) {
                return actions.subscription.create({
                    /* Creates the subscription */
                    plan_id: 'P-23794522DV3935435MS55BBQ'
                });
            },
            onApprove: function (data, actions) {
                alert(data.subscriptionID); // You can add optional success message for the subscriber here
            }
        }).render('#paypal-button-container-P-23794522DV3935435MS55BBQ'); // Renders the PayPal button
    </script>

    
<script>
    document.getElementById('sendButton').addEventListener('click', function () {
        var form = document.getElementById('emailForm');
        var formData = new FormData(form);

        var jsonData = {};
        formData.forEach(function (value, key) {
            jsonData[key] = value;
        });

        fetch('/seu-endpoint-de-envio', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        })
        .then(response => response.json())
        .then(data => {
            alert(data.resposta);
        })
        .catch(error => {
            console.error('Erro ao enviar os dados:', error);
        });
    });
</script>
</body>

</html>