

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard {{ user.empresa }} | Gokside  </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons 
    <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    -->
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Arsha
  * Updated: Jul 05 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="dashboard">G o k s i d e</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="/" class="logo me-auto"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto">{{user.nome}}</a></li>
                    <li><a class="nav-link scrollto">{{user.pacote }}</a></li>
                    <li><a class="getstarted scrollto" href="./logout">Sair</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">


            <h2>Benvindo  {{user.nome}}. </h2>
                <h6 class="fs-6 ">Empresa: <b>{{ user.empresa }}</b> </h6>
                <span class="fs-6 "> Ativo: <span class="text-success">{{user.plano}}</span></span>
                <br> 
                <span class="fs-6 text-secondary">
                     <?php if ($pago == "Nao") {
                   echo "Faça o pagamento do seu plano! &middot; $ ".$preco."";
                } else { echo "Plano Pago" ;} ?>
             
                </span>
                  <br>

                <div class="datas">
                    <h4 class="text-secondary">API Key: <span class="fw-light">{{user.api_key}}</span></h4>
                </div>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="items-serv container">
            <div class="row">
                <div class="col-12 container">
                    <p>
                        Suporte: <a href="tel:+244928134249">928 134 249</a> / <a href="mailto:contato@Gokside.site">contato@Gokside.site</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="item text-center">
                        <h2>Whatsapp</h2>
                        <div class="w-50 des mx-auto">
                            <span class="text-secondary  w-50 fw-light fs-6">Contacte o suporte para personalizar a
                                automação do seu whatsapp.</span>
                        </div>
                        <br>
                        <div class="wpp fs-6 bg-white border-1 border-light cardd">
                            Serviço indisponível
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div onclick="link('dash_email')" class="item text-center">
                        <h2>Email</h2>
                        <div class="w-50 des mx-auto">
                            <span class="text-secondary w-50 fw-light fs-6">Comece a enviar emails usando templates
                                 prontos ou apartir do seu website via api.</span>
                        </div>
                        <br>
                        <div class="cardd">
                            <i class="bi bi-email"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->

    <div id="preloader"></div>
    <a href="/#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <!-- Link do paypal 
  <div id="paypal-button-container-P-23794522DV3935435MS55BBQ"></div>
   -->
    <script
        src="https://www.paypal.com/sdk/js?client-id=Achki2KvbRpWCbc-y41bd-5RHsf0SLC6NDJMrPktXH0Q-QcrUP4Te7nZLw9UC3JwAozTRD1zyleZQV5J&vault=true&intent=subscription"
        data-sdk-integration-source="button-factory"></script>
    <script>
        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'blue',
                layout: 'vertical',
                label: 'subscribe'
            },
            createSubscription: function (data, actions) {
                return actions.subscription.create({
                    /* Creates the subscription */
                    plan_id: 'P-23794522DV3935435MS55BBQ'
                });
            },
            onApprove: function (data, actions) {
                alert(data.subscriptionID); // You can add optional success message for the subscriber here
            }
        }).render('#paypal-button-container-P-23794522DV3935435MS55BBQ'); // Renders the PayPal button
    </script>
</body>

</html>