


<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Entrar para sua conta | AROTEC MAIL BOX</title>
  <meta content="Entre para sua conta para ter acesso aos recursos da plataforma." name="description">
  <meta content="Login whatsapp, login, entrar, whatsapp,email, marketing, gmail" name="keywords">

  <!-- Favicons 
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
-->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Jul 05 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
  body, #main, #breadcrumbs {
    background: linear-gradient(190deg, #ffffffda, #ffffffd5), url("{{ url_for('static', filename='assets/img/2.jpg') }}") center center!important;
    background-size: cover;
  }
</style>
<body>

  
  <main id="main" class="my-auto text-center">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs bg-white">
      <div class="container text-center">

       <!-- <a style="align-self: start; float: left;" href="/">Voltar</a></li> -->
        
        <form action="/login" method="post">
        <div class="login py-4 px-5 rounded-3 breadcrumbs">
          <h2><img src="{{ url_for('static', filename='./assets/img/clients/a.png') }}" style="height: 1.1em" alt=""></h2>
        
       <h2>Mail Box </h2>
            <input type="email" name="email" placeholder="Seu email" class="input-1 form-control my-1"> <br>
            <input type="password" name="senha" placeholder="Palavra passe" class="input-1 form-control my-1">
            <br>
            <button type="submit" name="entrar" class="btn-login btn">Entrar</button>

            <center>
              <span class="text-secondary fs-6">Não possui uma conta ou esqueceu a senha ? contacte o departamento de TI</span>
            </center>
        </div>
      </form>
     
    <!-- Exibição das mensagens flash -->
    {% with messages = get_flashed_messages()[0] %}
    {% if messages %}
       <center>
        <div style="font-size: 12px;" class="alert w-25 mt-2 alert-danger">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
  </div>
       </center>
    {% endif %}
{% endwith %}
      </div>
    </section><!-- End Breadcrumbs -->

  </main><!-- End #main -->

  

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
     
</body>

</html>